# virtual environment
/venv*
/.venv*

# Python cache folders
**/__pycache__

# PyCharm folders
/.idea

# downloaded datasets
/GAND_compilation/input*/downloadedDataSources

# deprecated, output and temp folders
/GAND_*/deprecated*
/GAND_*/output*
/GAND_*/temp*

# nohup files
*nohup*

# HPC files
*HPC_*.e*
*HPC_*.o*
*.pbs*
